In [1]:
import pandas as pd

In [12]:
df1 = pd.read_csv("World firearms.csv")

In [15]:
df1.columns

Index(['Country/Territory', 'ISO code', 'Source', '% of homicides by firearm',
       'Number of homicides by firearm',
       'Homicide by firearm rate per 100,000 pop', 'Rank by rate of ownership',
       'Average firearms per 100 people',
       'Average total all civilian firearms'],
      dtype='object')

In [16]:
df1 = df1[['Country/Territory','% of homicides by firearm','Number of homicides by firearm',\
           'Rank by rate of ownership','Average firearms per 100 people','Average total all civilian firearms']]

In [18]:
df1.columns = ['Country','Percentage of homicides by firearm','Number of homicide by firearm',\
              'Rank by rate of ownership','Average firearms per 100 people','Average total all civilian firearms']

In [19]:
df1.head(5)

,Country,Percentage of homicides by firearm,Number of homicide by firearm,Rank by rate of ownership,Average firearms per 100 people,Average total all civilian firearms
0,Albania,65.9,56.0,70.0,8.6,270000.0
1,Algeria,4.8,20.0,78.0,7.6,1900000.0
2,Angola,NaN,NaN,34.0,17.3,2800000.0
3,Anguilla,24.0,1.0,NaN,NaN,NaN
4,Argentina,52.0,1198.0,62.0,10.2,3950000.0

In [21]:
df1 = df1.fillna(0)

In [22]:
df1.to_csv('Cleaned Wrold Firearms.csv')

In [23]:
df2 = pd.read_csv('state gun rating.csv')

In [24]:
df2.head(5)

   Rank          State Grade  Ranked Death rate  Gun Death rate
0     1     California     A                 43             7.9
1     2     New Jersey    A-                 45             5.5
2     3    Connecticut    A-                 46             4.6
3     4  Massachusetts    A-                 50             3.4
4     5       New York    A-                 48             4.4

In [25]:
df2['Gun Death rate'] = df2['Gun Death rate']/100

In [32]:
df2.head(5)

   Rank          State Grade  Ranked Death rate  Gun Death rate
0     1     California     A                 43           0.079
1     2     New Jersey    A-                 45           0.055
2     3    Connecticut    A-                 46           0.046
3     4  Massachusetts    A-                 50           0.034
4     5       New York    A-                 48           0.044

In [33]:
df2.to_csv('State Rank.csv')